---

- block:
    - name: ensure aide.conf.d directory exists
      file: dest=/etc/aide/aide.conf.d state=directory mode=0755
    - name: add additional aide HIDS configuration
      template: src=99_aide_local_broids.j2 dest=/etc/aide/aide.conf.d/99_aide_local_broids mode=0644
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

