---
- set_fact:
    daemon: bro

- block:
    - name: apt | monit package
      apt: name={{item}} state=present
      with_items:
        - monit
    - name: set monit configuration for {{ daemon }}
      template: src={{ daemon }}-monit.j2 dest=/etc/monit/conf-available/{{ daemon }} mode=0644 backup=yes
      notify:
        - restart monit
    - name: enable monit {{ daemon }}
      file: src=/etc/monit/conf-available/{{ daemon }} dest=/etc/monit/conf-enabled/{{ daemon }} state=link
      notify:
        - restart monit
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: yum | monit package
  yum: name={{item}} state=present
  with_items:
    - monit
  when: ansible_os_family == "RedHat" or ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'

- name: allow monit status/summary from localhost
  replace: dest=/etc/monit/monitrc regexp={{ item.re }} replace={{ item.rep }}
  with_items:
    - { re: '^# set httpd port 2812 and', rep: ' set httpd port 2812 and' }
    - { re: '^#     use address localhost', rep: '     use address localhost' }
    - { re: '^#     allow localhost', rep: '     allow localhost' }
#    - { re: '^#     allow admin:monit', rep: '     allow admin:monit' }

