## {{ ansible_managed }}
[Unit]
Description=Bro Network Intrusion Detection System (NIDS)
After=network.target

[Service]
Type=forking
Environment=HOME=/
ExecStart={{ broids_broctl }} start

[Install]
WantedBy=multi-user.target
