---
name: AnsibleCI-monthly

on:
  workflow_dispatch:
  schedule:  # run on the 11th of the month at 01:00 UTC
    - cron: '0 1 11 * *'
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:

    permissions:
      contents: read
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        include:
          - molecule_distro: 'ubuntu:24.04'
            experimental: false
            suite: default
          - molecule_distro: 'ubuntu:22.04'
            experimental: false
            suite: default
          - molecule_distro: 'debian:13'
            experimental: false
            suite: default
          - molecule_distro: 'debian:12'
            experimental: false
            suite: default
          - molecule_distro: 'ubuntu:24.04'
            experimental: false
            suite: default-src

    env:
      ANSIBLE_CALLBACKS_ENABLED: profile_tasks
      MOLECULE_NO_LOG: "false"
      ANSIBLE_ROLE: juju4.zeek
      ANSIBLE_SUITE: ${{ matrix.suite }}

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          path: ${{ env.ANSIBLE_ROLE }}
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: '3.13'
      - name: Cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306  # v5.0.3
        with:
          path: |
            /var/cache/apt/archives
            /var/lib/apt
            /var/_install
            /home/runner/.ansible
            /home/runner/.cache/molecule
          key: cache-ansible-zeek-${{ steps.get-date.outputs.date }}
      - name: Install dependencies
        run: |
          set -x
          python -m pip install --upgrade pip
          pip install molecule molecule-plugins docker ansible-lint flake8 testinfra ansible
          mkdir -p $HOME/.ansible/roles && ln -s $GITHUB_WORKSPACE/$ANSIBLE_ROLE $HOME/.ansible/roles/ || true
          [ -f molecule/${ANSIBLE_SUITE}/requirements.yml ] && ansible-galaxy install -r molecule/${ANSIBLE_SUITE}/requirements.yml || true
      - name: Fetch central settings repository
        run: |
          export settings_repo="https://raw.githubusercontent.com/juju4/ansible-ci-settings/main"
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE
          set -x
          curl -o requirements.txt "$settings_repo/requirements.txt"
          curl -o .ansible-lint "$settings_repo/.ansible-lint"
          curl -o .yamllint "$settings_repo/.yamllint"
          pip install -r requirements.txt
        continue-on-error: true
      - name: Environment
        run: |
          set -x
          ansible --version
          ansible-config dump --only-changed -t all
          ansible-galaxy collection list || true
          ansible-galaxy role list || true
          pwd
          env
          find . -ls
      - name: Galaxy dependencies
        run: |
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE && ansible-galaxy install --timeout 120 --verbose -r molecule/$ANSIBLE_SUITE/requirements.yml
        continue-on-error: true
      - name: run test
        run: |
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE && molecule test --scenario-name ${ANSIBLE_SUITE}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.molecule_distro }}
      - name: After script | Environment
        run: |
          set -x
          ansible --version
          ansible-config dump --only-changed -t all
          ansible-galaxy collection list || true
          ansible-galaxy role list || true
        if: ${{ always() }}
        continue-on-error: true
